<h2 class="text-center py-4">Create an Account</h2>
<form class="example-form" #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>

  {{userForm.value | json}}
    <!-- <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input type="email" matInput placeholder="Ex. pat@example.com">
      <mat-hint></mat-hint>
      <mat-error *ngIf="">
        Please enter a valid email address
      </mat-error>
      <mat-error >
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field> -->
    <div class="d-flex justify-content-between my-2">
        <mat-form-field class="example-half-width">
            <mat-label>FirstName</mat-label>
            <input type="text" name="firstname" pattern="^[a-zA-Z][a-zA-Z\\s]+$"#fname="ngModel" [(ngModel)]="userModel.firstname" matInput placeholder="First Name" required class="">
              <mat-error *ngIf="fname.errors &&  fname.errors['pattern']" class="mb-2">
                Please enter a valid input field
              </mat-error>
              <mat-error *ngIf="fname.errors &&  fname.errors['required']">
                FirstName is <strong>required</strong>
              </mat-error>
        </mat-form-field>
        <mat-form-field class="example-half-width">
            <mat-label>LastName</mat-label>
            <input type="text" name="lastname" pattern="^[a-zA-Z ]*$" #lname="ngModel" [(ngModel)]="userModel.lastname" matInput placeholder="Last Name" required>
            <mat-error *ngIf="lname.errors &&  lname.errors['pattern']">
                Please enter a valid input field
              </mat-error>
              <mat-error *ngIf="lname.errors &&  lname.errors['required']">
                LastName is <strong>required</strong>
              </mat-error>
        </mat-form-field>
    </div>
    <div class="d-flex justify-content-between my-2">
        <mat-form-field class="example-half-width">
            <mat-label>Mobile</mat-label>
            <input type="text" name="mobile" #mobile="ngModel" pattern="[1-9]{1}[0-9]{9}$" [(ngModel)]="userModel.mobile" matInput placeholder="Mobile Number" required>
            <mat-error *ngIf="mobile.errors &&  mobile.errors['pattern']">
                Mobile must be 10 digits & cannot start with 0
              </mat-error>
              <mat-error *ngIf="mobile.errors &&  mobile.errors['required']">
                Mobile no. is <strong>required</strong>
              </mat-error>
        </mat-form-field>
        <mat-form-field class="example-half-width">
            <mat-label>Email</mat-label>
            <input type="email" #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="userModel.email" matInput placeholder="Ex. pat@example.com" name="email" required>
            <mat-hint></mat-hint>
            <mat-error *ngIf="email.errors &&  email.errors['pattern']">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="email.errors &&  email.errors['required']">
              Email is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    </div>
    <div class="d-flex my-2">
        <mat-form-field  class="example-half-width">
            <mat-label>Select Technology</mat-label>
            <mat-select (blur)="validateTechno(tech.value)" (change)="validateTechno(tech.value)" matNativeControl #tech="ngModel" [class.mat-form-field-invalid]="tech.errors && tech.errors['']"  [(ngModel)]="selected" name="tech" placeholder="Please select Technology" required>
              <mat-option value="" selected>I'm interested in...</mat-option>
              <mat-option *ngFor="let tech of techs" [value]="tech">
                {{tech}}
              </mat-option>
            </mat-select>
            <small [class.has-error]="tech.touched && (techError || tech.invalid)">
              Please select technology
            </small>
            {{tech.touched}}
            {{techError}}
        </mat-form-field>
        <!-- <mat-label>Select an option</mat-label>
        <mat-select [(value)]="selected" >
            <mat-option>None</mat-option>
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option3">Option 3</mat-option>
        </mat-select>      -->
    </div>
    <div class="d-flex justify-content-between my-2">
        <mat-form-field class="example-half-width " [class.mat-form-field-invalid]="confPass.errors && confPass.errors['notEqual'] && !confPass.errors['required']" >
            <mat-label>Password</mat-label>
            <input type="password" #password="ngModel" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{6,14}" 
            [(ngModel)]="userModel.password" name="password" matInput placeholder="Enter Password" required
            (input)="confPass.control.updateValueAndValidity()" >
            <mat-error *ngIf="password.errors &&  password.errors['pattern']">
                <div class="d-block py-2">Password must contain atleast 6 digits and combination of Uppercase, Lowercase and Digit</div>
              </mat-error>
              <mat-error *ngIf="password.errors &&  password.errors['required']">
                Password is <strong>required</strong>
              </mat-error>
        </mat-form-field>
        <mat-form-field class="example-half-width">
            <mat-label>Confirm Password</mat-label>
            <input type="password" appConfirmEqualValidator="password" #confPass="ngModel" [(ngModel)]="userModel.confPass" matInput placeholder="Enter Confirm Password" name="confPass" required>
            <mat-hint></mat-hint>
            <mat-error *ngIf="lname.errors &&  lname.errors['pattern']">
              Password and Confirm Password must match
            </mat-error>
            <mat-error *ngIf="confPass.errors &&  confPass.errors['required']">
              Confirm Password is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="confPass.errors &&  confPass.errors['notEqual'] && !confPass.errors['required']">
              Password and Confirm Password <b>must match</b>
            </mat-error>
        </mat-form-field>
    </div>
    <div ngModelGroup="address" class="">
      <div class="d-flex justify-content-between my-2">
        <mat-form-field class="example-half-width">
            <mat-label>Address1</mat-label>
            <input type="text" #add1="ngModel" [(ngModel)]="userModel.add1" name="add1" matInput placeholder="Enter House no/name" required>
            <mat-error *ngIf="add1.errors &&  add1.errors['pattern']">
                Please enter a valid valid input value
              </mat-error>
              <mat-error *ngIf="add1.errors &&  add1.errors['required']">
                Address1 is <strong>required</strong>
              </mat-error>
        </mat-form-field>
        <mat-form-field class="example-half-width">
            <mat-label>Address Line2</mat-label>
            <input type="text" #add2="ngModel" [(ngModel)]="userModel.add2" matInput placeholder="Enter Street Name" name="add2" required>
            <mat-hint></mat-hint>
            <mat-error *ngIf="add2.errors &&  add2.errors['pattern']">
              Please enter a valid address
            </mat-error>
            <mat-error *ngIf="add2.errors &&  add2.errors['required']">
              Address2 is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    </div>
    </div>
    <mat-checkbox class="example-margin" name="subscribe" ngModel color="primary">Subscribe to our newsletter</mat-checkbox>
    <button [disabled]="userForm.form.invalid || techError" mat-raised-button color="primary" class="btn-full my-3" type="submit">Submit</button>

  </form>
